node-red/flows.json
[
  {
    "id": "flow_main",
    "type": "tab",
    "label": "IMU Monitor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Office Monitor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "group_alert",
    "type": "ui_group",
    "name": "Security Alert",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group_accel",
    "type": "ui_group",
    "name": "Accelerometer (m/s²)",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group_gyro",
    "type": "ui_group",
    "name": "Gyroscope (deg/s)",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "influx_config",
    "type": "influxdb",
    "name": "InfluxDB Local",
    "influxdbVersion": "2.0",
    "url": "http://localhost:8086",
    "rejectUnauthorized": false
  },
  {
    "id": "inject_accel",
    "type": "inject",
    "z": "flow_main",
    "name": "Every 2s",
    "repeat": "2",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [["fn_query_accel"]]
  },
  {
    "id": "fn_query_accel",
    "type": "function",
    "z": "flow_main",
    "name": "Accel Flux Query",
    "func": "msg.query = `from(bucket: \"iot_data\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r._measurement == \"imu_averaged\")\n  |> filter(fn: (r) => r._field == \"accel_x\" or r._field == \"accel_y\" or r._field == \"accel_z\")\n  |> sort(columns: [\"_time\"])`;\nreturn msg;",
    "outputs": 1,
    "x": 300,
    "y": 100,
    "wires": [["influx_in_accel"]]
  },
  {
    "id": "influx_in_accel",
    "type": "influxdb in",
    "z": "flow_main",
    "influxdb": "influx_config",
    "name": "Query Accel",
    "query": "",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "office",
    "x": 500,
    "y": 100,
    "wires": [["fn_format_accel"]]
  },
  {
    "id": "fn_format_accel",
    "type": "function",
    "z": "flow_main",
    "name": "Format Accel Chart",
    "func": "var rows = msg.payload;\nif (!rows || rows.length === 0) return null;\n\nvar series = {};\nrows.forEach(function(row) {\n    var f = row._field;\n    if (!series[f]) series[f] = [];\n    series[f].push({ x: new Date(row._time).getTime(), y: row._value });\n});\n\nvar keys = Object.keys(series).sort();\nmsg.payload = [{\n    series: keys,\n    data: keys.map(function(k) { return series[k]; }),\n    labels: [\"\"]\n}];\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 100,
    "wires": [["chart_accel"]]
  },
  {
    "id": "chart_accel",
    "type": "ui_chart",
    "z": "flow_main",
    "name": "Accel Chart",
    "group": "group_accel",
    "order": 1,
    "width": "12",
    "height": "6",
    "label": "Accelerometer",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "No data",
    "dot": false,
    "ymin": "-20",
    "ymax": "20",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
    "x": 900,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "inject_gyro",
    "type": "inject",
    "z": "flow_main",
    "name": "Every 2s",
    "repeat": "2",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 220,
    "wires": [["fn_query_gyro"]]
  },
  {
    "id": "fn_query_gyro",
    "type": "function",
    "z": "flow_main",
    "name": "Gyro Flux Query",
    "func": "msg.query = `from(bucket: \"iot_data\")\n  |> range(start: -60s)\n  |> filter(fn: (r) => r._measurement == \"imu_averaged\")\n  |> filter(fn: (r) => r._field == \"gyro_x\" or r._field == \"gyro_y\" or r._field == \"gyro_z\")\n  |> sort(columns: [\"_time\"])`;\nreturn msg;",
    "outputs": 1,
    "x": 300,
    "y": 220,
    "wires": [["influx_in_gyro"]]
  },
  {
    "id": "influx_in_gyro",
    "type": "influxdb in",
    "z": "flow_main",
    "influxdb": "influx_config",
    "name": "Query Gyro",
    "query": "",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "office",
    "x": 500,
    "y": 220,
    "wires": [["fn_format_gyro"]]
  },
  {
    "id": "fn_format_gyro",
    "type": "function",
    "z": "flow_main",
    "name": "Format Gyro Chart",
    "func": "var rows = msg.payload;\nif (!rows || rows.length === 0) return null;\n\nvar series = {};\nrows.forEach(function(row) {\n    var f = row._field;\n    if (!series[f]) series[f] = [];\n    series[f].push({ x: new Date(row._time).getTime(), y: row._value });\n});\n\nvar keys = Object.keys(series).sort();\nmsg.payload = [{\n    series: keys,\n    data: keys.map(function(k) { return series[k]; }),\n    labels: [\"\"]\n}];\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 220,
    "wires": [["chart_gyro"]]
  },
  {
    "id": "chart_gyro",
    "type": "ui_chart",
    "z": "flow_main",
    "name": "Gyro Chart",
    "group": "group_gyro",
    "order": 1,
    "width": "12",
    "height": "6",
    "label": "Gyroscope",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "No data",
    "dot": false,
    "ymin": "-400",
    "ymax": "400",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#d62728", "#9467bd", "#8c564b"],
    "x": 900,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "mqtt_alert_in",
    "type": "mqtt in",
    "z": "flow_main",
    "name": "Anomaly Alert",
    "topic": "office/alerts",
    "qos": "0",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 360,
    "wires": [["fn_parse_alert"]]
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "nodered_monitor",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "fn_parse_alert",
    "type": "function",
    "z": "flow_main",
    "name": "Format Alert",
    "func": "var now = new Date().toLocaleTimeString();\ntry {\n  var alert = JSON.parse(msg.payload);\n  var typeMap = {\n    'tilt': '급격한 기울기/회전 감지',\n    'impact': '물리적 충격 감지',\n    'tilt+impact': '기울기 및 충격 동시 감지'\n  };\n  var desc = typeMap[alert.type] || '이상 감지';\n  msg.payload = '[' + now + '] ⚠ ' + desc + ' (심각도: ' + alert.severity + ')';\n} catch(e) {\n  msg.payload = '[' + now + '] ⚠ 이상 감지';\n}\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 360,
    "wires": [["ui_alert_text"]]
  },
  {
    "id": "ui_alert_text",
    "type": "ui_text",
    "z": "flow_main",
    "name": "Alert Display",
    "group": "group_alert",
    "order": 1,
    "width": "12",
    "height": "1",
    "label": "",
    "format": "<span style=\"color:red;font-weight:bold;font-size:1.1em\">{{msg.payload}}</span>",
    "layout": "row-left",
    "x": 520,
    "y": 360,
    "wires": []
  }
]
